SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/arena
SPRING_DATASOURCE_USERNAME=arena
SPRING_DATASOURCE_PASSWORD=arena123
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
APP_UPLOAD_DIR=/app/uploads
SPRING_PROFILES_ACTIVE=prod
